<h1>Login</h1>

<% if flash[:alert] %>
  <p id= "notice" ><%= flash[:alert] %></p>
<% end %>

<%= form_tag('/login', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :user_id, 'User ID:', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= text_field_tag :user_id, params[:user_id], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :password, 'Password:', class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= password_field_tag :password, params[:password], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag "Logon", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>