<% content_for :name, @author.name %>
<div class="row">
  <div class="col-md-2">
    <%= image_tag(@author.image_url, class: 'img-thumbnail') %>
  </div>
  <div class="col-md-10">
    <h2><%= @author.name %></h2>
    <p><%= @author.biography%></p>
    <p><label>Date Of Birth:</label> <%= @author.dob.to_formatted_s(:long) %></p>
    <p><label>Nationality:</label> <%= @author.nationality %></p>
    <% if @author.awards? %>
      <p><label>Awards:</label> <%= @author.awards %></p>
    <% end %>
    <p>
      <label>Books:</label>
      <%= @author.books do |book| %>
        <%= book.title %>
      <% end %>
    </p>
  </div>
</div>
