<%= form_for(@user) do |f| %>
  <%= f.label :name %> <%= f.text_field :name, autofocus: true %><br />
  <%= f.label :user_id %> <%= f.text_field :user_id %><br />
  <%= f.label :password_digest %> <%= f.text_field :password_digest %><br />
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', books_path %>
  </p>
<% end %>