<p id="notice"><%= notice %></p>

<h2><%= @title %></h2>

<%= form_tag(books_path, method: "get") do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= render 'books' %>

<%= paginate @books %>
