<p id="notice"><%= notice %></p>

<h2>Books</h2>

<%= page_entries_info @books %>

<% @books.each do |book| %>
  <div class="well">
    <%= image_tag(book.image_cover_url, class: 'img-thumbnail') %>
    <h3><%= book.title %></h3>
    <h4><%= book.author_id %> [TO DO: Look up author by ID]</h4>
    <%= link_to 'Show', book, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-primary' %>
    <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
  </div>
<% end %>

<%= paginate @books %>
