<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2">
    <%= image_tag(@book.image_cover_url, class: 'img-thumbnail') %>
  </div>
  <div class="col-md-10">
    <h2><%= @book.title %></h2>
    <h5>by <%= link_to(@book.author.name, author_path(@book.author)) %></h5>
    <p><%= @book.abstract%></p>
    <p><label>ISBN:</label> <%= @book.isbn %></p>
    <p><label>Genre:</label> <%= @book.genre %></p>
    <p><label>Pages:</label> <%= @book.pages %></p>
    <p><label>Published on:</label> <%= @book.published_on.to_formatted_s(:long) %></p>
    <p><label>Total in library:</label> <%= @book.total_in_library %></p>

    <% if @book.total_in_library > 0 %>
      <%= button_to 'Reserve', reservations_path(:book_id => @book.id, :book_title => @book.title), class: 'btn btn-primary' %>
    <% else %>
      <p> There are no more available copies to be reserved</p>
    <% end %>


    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
    <%= button_to 'Delete', @book,
              method: :delete,
              data: {confirm: 'Are you sure?' },
              class: 'btn btn-danger' %>
  </div>
</div>
