<h2>My Reservations</h2>

<% @user.reservations.each do |res| %>
  <div class="well">
    <%= image_tag(res.book.image_cover_url, class: 'img-thumbnail') %>
    <h3><%= res.book.title %></h3>
    <h4><%= res.book.author.name %></h4>
    <p><strong>Reserved On:</strong> <%= res.reserved_on.to_formatted_s(:long) %></p>
    <p><strong>Due On:</strong> <%= res.due_on.to_formatted_s(:long) %></p>
    <%= button_to 'Return Book', res,
          method: :delete,
          data: {confirm: 'Are you sure?' },
          class: 'btn btn-primary' %>
  </div>
<% end %>
