<% user = User.find_by(id: session[:user_id])
        if user %>
  <div id="sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Things To Do...</h3>
      </div>
      <div class="panel-body">
        <%= link_to books_path, class: 'btn btn-default btn-block' do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Browse All Books
        <% end %>
        <%= link_to reservations_path, class: 'btn btn-default btn-block' do %>
          <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> My Reservations
        <%end%>

        <% if user.admin %>
          <%= link_to new_book_path, class: 'btn btn-default btn-block' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Book
          <%end%>
        <%end%>

        <%= link_to authors_path, class: 'btn btn-default btn-block' do %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> View Authors
        <%end%>

        <% if user.admin %>
          <%= link_to overdue_path, class: 'btn btn-default btn-block' do %>
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Overdue Books
          <%end%>
        <%end%>

        <%- # Login OR Logout + User Details depending on login -%>
        <% user = User.find_by(id: session[:user_id])
          if user %>

          <%= link_to logout_path, :method => :delete, class: 'btn btn-default btn-block' do %>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out
          <%end%>

        <%else%>

           <%= link_to login_path, class: 'btn btn-default btn-block' do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log In
          <%end%>

        <%end%>


      </div>
    </div>
  </div>
<% end %>
