<div id="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Things To Do...</h3>
    </div>
    <div class="panel-body">
      <%= link_to books_path, class: 'btn btn-default btn-block' do %>
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Browse All Books
      <% end %>
      <%= link_to reservations_path, class: 'btn btn-default btn-block' do %>
        <span class="glyphicon-th-list" aria-hidden="true"></span> My Reservations
      <%end%>
      <%= link_to new_book_path, class: 'btn btn-default btn-block' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Book
      <%end%>
      <%= link_to authors_path, class: 'btn btn-default btn-block' do %>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> View Authors
      <%end%>
      <%= link_to overdue_path, class: 'btn btn-default btn-block' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Overdue Books
      <%end%>
    </div>
  </div>
</div>
